.text-success {
    color: #28a745 !important;
}

.text-danger {
    color: #dc3545 !important;
}

.text-success-light {
    color: #2ecc71 !important;
}

.text-danger-light {
    color: #ff7675 !important;
}

.font-monospace {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
}

.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.03);
}
